%rebase('poskusna_osnova.html')

<label class="label">Dodajanje nove storitve za uslužbenca:</label>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj_storitev/{{id_usluzbenec}}">
                <td></td>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek">Ime in priimek</label>
                            <input class="input is-small" type="text" 
                                name="ime_priimek" value="{{ime_priimek}}" disabled name="ime_priimek" placeholder="Ime in priimek" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="control has-icons-left">


                            <label for="storitev" class="form-label my-3">Storitev:</label>
                            <select id="storitev" name="storitev" type="text" class="form-control col-12" aria-label="Default select example">
                
                                <option value="žensko striženje">žensko striženje</option>
                                <option value="moško striženje">moško striženje</option>
                                <option value="pedikura">pedikura</option>
                                <option value="manikura">manikura</option>
                                <option value="barvanje">barvanje</option>
                                <option value="depilacija nog">depilacija nog</option>
                                <option value="depilacija bikini predela">depilacija bikini predela</option>
                                <option value="depilacija pazduh">depilacija pazduh</option>
                                <option value="depilacija celega telesa">depilacija celega telesa</option>
                                <option value="ličenje">ličenje</option>
                                <option value="fen frizura">fen frizura</option>
                                <option value="masaža">masaža</option>
                                <option value="laminacija obrvi">laminacija obrvi</option>
                                <option value="medicinska pedikura">medicinska pedikura</option>
                                <option value="lasersko odstranjevanje dlak">lasersko odstranjevanje dlak</option>
                                <option value="urejanje brade">urejanje brade</option>
                                <option value="nega las in lasišča">nega las in lasišča</option>
                                <option value="podaljševanje trepalnic">podaljševanje trepalnic</option>

                            </select> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Dodaj</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/usluzbenci">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        </tr>
    </thead>
</table>
