% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

%if ali_je_sef == 2:

<div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li >
        <a href="/usluzbenci"><span href="/usluzbenci">Seznam zaposlenih</span></a>
      </li>
      <li class="is-active">
        <a>
          <span>Dodaj uslužbenca</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column is-narrow">
      <aside class="menu">
  
        <p class="menu-label">Splošno</p>
          <ul class="menu-list">
            <li><a href="/zacetek">Cenik storitev</a></li>
            <li><a href="/pregled_terminov">Pregled rezerviranih terminov</a></li>
            <li><a href="/poslovanje">Poslovanje in dobiček</a></li>
          </ul>
  
        <p class="menu-label">O strankah</p>
          <ul class="menu-list">
            <li><a href="/stranke">Podatki strank in dodajanje novih</a></li>
          </ul>
  
        <p class="menu-label">O zaposlenih</p>
          <ul class="menu-list">
            <li><a href="/usluzbenci" class="is-active">Pregled in urejanje zaposlenih</a></li>
            <li><a href="/urnik">Urnik zaposlenih</a></li>
          </ul>
  
      </aside>
    </div>
<label class="label">Vpišite podatke o novem uslužbencu:</label>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj_usluzbenca">
                <td></td>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek">Ime in priimek:</label>
                            <input class="input is-small" type="text" 
                                id="ime_priimek" name="ime_priimek" placeholder="Ime in priimek novega uslužbenca" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="control has-icons-left">


                            <label for="storitev" class="form-label my-3">Storitev:</label>
                            <select id="storitev" name="storitev" type="text" class="form-control col-12" aria-label="Default select example">
                                <option value="žensko striženje">žensko striženje</option>
                                <option value="moško striženje">moško striženje</option>
                                <option value="pedikura">pedikura</option>
                                <option value="manikura">manikura</option>
                                <option value="barvanje">barvanje</option>
                                <option value="depilacija nog">depilacija nog</option>
                                <option value="depilacija bikini predela">depilacija bikini predela</option>
                                <option value="depilacija pazduh">depilacija pazduh</option>
                                <option value="depilacija celega telesa">depilacija celega telesa</option>
                                <option value="ličenje">ličenje</option>
                                <option value="fen frizura">fen frizura</option>
                                <option value="masaža">masaža</option>
                                <option value="laminacija obrvi">laminacija obrvi</option>
                                <option value="medicinska pedikura">medicinska pedikura</option>
                                <option value="lasersko odstranjevanje dlak">lasersko odstranjevanje dlak</option>
                                <option value="urejanje brade">urejanje brade</option>
                                <option value="nega las in lasišča">nega las in lasišča</option>
                                <option value="podaljševanje trepalnic">podaljševanje trepalnic</option>

                            </select> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Dodaj</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/usluzbenci">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        </tr>
    </thead>
</table>
%else:
<p>Nimaš pravic.</p>


