%rebase('poskusna_osnova.html')

<label class="label">Ocenite uslužbenca:</label>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj_oceno/{{id_usluzbenec}}">
                <td></td>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek">Ime in priimek</label>
                            <input class="input is-small" type="text" 
                                name="ime_priimek" value="{{ime_priimek}}" disabled name="ime_priimek" placeholder="Ime in priimek" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ocena">Ocena</label>
                            <input class="input is-small" type="number" 
                                id="ocena" name="ocena" placeholder="Ocena 1-5" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje. Ocena mora biti od 1 do 5.')"
                                min="1" max="5"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Dodaj</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/usluzbenci">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        </tr>
    </thead>
</table>
