% setdefault('napaka', '')
% setdefault('podnaslov', 'Poslovanje')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

  <table class="table table-striped">
    <tr>
      <th>Leto</th>
      <th>Mesec</th>
      <th>Prihodki</th>
      <th>Odhodki</th>
      <th>Dobiček</th>
    </tr>

    %for leto, mesec, prihodki, odhodki, dobicek in poslovanje:
    <tr>
      <td>{{leto}}</td>
      <td>{{mesec}}</td>
      <td>{{prihodki}}€</td>
      <td>{{odhodki}}€</td>
      <td>{{dobicek}}€</td>
    </tr>
    %end

  </table>

  <div class="container-fluid" style="margin-top:40px">                           
    <iframe id="igraph" scrolling="no" style="border:none;" 
    seamless="seamless" src="/Views/graphs/poslovanje.html" width="100%" height="300"></iframe>                                                 
  </div>


  