%rebase('poskusna_osnova.html')

<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Prihodnji rezervirani termini</th>
        </tr>
        <tr>
            <th>Datum in ura</th>
            <th>Storitev</th>
            <th>Odstrani</th>
        </tr>
    </thead>

    %for id_termin, datum, ime_storitve in tabela:
        <tr>
            <td>{{datum}}</td>
            <td>{{ime_storitve}}</td>
            <td>
                <form action="{{url('izbrisi_termin')}}" method="POST">
                    <button class="button is-primary" type="submit" name="id_termin" value={{id_termin}}>-</button>
                </form>
            </td>
        </tr>
    %end
</table>