% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li class="is-active">
      <a><span>Pregled terminov</span></a>
    </li>
  </ul>
</div>

%if ali_je_sef == 2:
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column is-narrow">
      <aside class="menu">
  
        <p class="menu-label">Splošno</p>
          <ul class="menu-list">
            <li><a href="/zacetek">Cenik storitev</a></li>
            <li><a href="/pregled_terminov" class="is-active">Pregled rezerviranih terminov</a></li>
            <li><a href="/poslovanje">Poslovanje in dobiček</a></li>
          </ul>
  
        <p class="menu-label">O strankah</p>
          <ul class="menu-list">
            <li><a href="/stranke">Podatki strank in dodajanje novih</a></li>
          </ul>
  
        <p class="menu-label">O zaposlenih</p>
          <ul class="menu-list">
            <li><a href="/usluzbenci">Pregled in urejanje zaposlenih</a></li>
            <li><a href="/urnik">Urnik zaposlenih</a></li>
          </ul>
  
      </aside>
    </div>

  %elif ali_je_sef == 1:
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column is-narrow">
      <aside class="menu">

        <p class="menu-label">Splošno</p>
          <ul class="menu-list">
            <li><a href="/zacetek">Cenik storitev</a></li>
            <li><a href="/urnik">Urnik</a></li>
          </ul>

        <p class="menu-label">O strankah</p>
          <ul class="menu-list">
            <li><a href="/stranke">Podatki strank in dodajanje novih</a></li>
            <li><a href="/pregled_terminov" class="is-active">Pregled rezerviranih terminov</a></li>
          </ul>

        <p class="menu-label">O zaposlenih</p>
          <ul class="menu-list">
            <li><a href="/usluzbenci">Pregled sodelavcev</a></li>
          </ul>

      </aside>
    </div>
  %end
  
    <div class="column is-narrow">
        <table class="table table-striped">
            <tr>
            <th>Ime in priimek stranke</th>
            <th>Termini</th>
            </tr>

            %for id_stranka, ime_priimek in stranke:
                <tr>
                    <td>{{ime_priimek}}</td>
                    <td>
                        <a href="/pregled_termina/{{id_stranka}}" class="button is-primary is-light">
                            Preglej
                        </a>
                    </td>
                </tr>
            %end

        </table>
    </div>
</div>

