% setdefault('napaka', '')
% setdefault('podnaslov', 'Prijava')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

<div class="columns">
    <div class="column is-narrow">
      <aside class="menu">
        <p class="menu-label">
          Prijava
        </p>
        <ul class="menu-list">
          <li><a href="/prijava_stranka">Prijava za stranke</a></li>
          <li><a href="/prijava_usluzbenec" class="is-active">Prijava za uslužbence</a></li>
        </ul>
  
        <p class="menu-label">
          Registracija
        </p>
        <ul class="menu-list">
          <li><a href="/registracija_stranka">Registracija za stranke</a></li>
          <li><a href="/registracija_usluzbenec">Registracija za uslužbence</a></li>
  
      </aside>
    </div>
  
    <div class="column">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <form method="POST" action="/prijava_usluzbenec">
                        <td><strong>PRIJAVA ZA USLUŽBENCE</strong></td>
                        <tr>
                            <td>
                                <div class="control has-icons-left">
                                    <label for="up_ime">Uporabniško ime</label>
                                    <input class="input is-small" type="text" 
                                        id="up_ime" name="up_ime" placeholder="Uporabniško ime" required
                                        oninput="this.setCustomValidity('')"
                                        oninvalid="this.setCustomValidity('Obvezno polje')"
                                    />
                                    <span class="icon is-small is-left">
                                        <i class="far fa-clipboard-check"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="control has-icons-left">
                                    <label for="geslo">Geslo</label>
                                    <input class="input is-small" type="password" 
                                        id="geslo" name="geslo" placeholder="Geslo" required
                                        oninput="this.setCustomValidity('')"
                                        oninvalid="this.setCustomValidity('Obvezno polje')"
                                    />
                                    <span class="icon is-small is-left">
                                        <i class="far fa-clipboard-check"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link" href="/zacetek" type="submit">Prijava</button>
                                    </div>
                                    <div class="control">
                                        <a class="button is-link is-light" href="/prijava">Prekliči</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field is-grouped">
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember"> Zapomni si me
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </form>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div>
    <p>Še niste registrirani? To lahko storite <a href="/registracija_usluzbenec">tukaj</a>.</p>
</div>