% setdefault('napaka', '')
% setdefault('podnaslov', 'Stranke')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

%if vloga == 'usluzbenec':
<a class="button" href="/dodaj_stranko">
  Dodaj novo stranko
</a>

<table class="table table-striped">
  <tr>
    <th>Ime in priimek</th>
    <th>Telefon</th>
    <th>Mail</th>
  </tr>

  %for id_stranka, ime_priimek, telefon, mail in stranke:
  <tr>
    <td>{{ime_priimek}}</td>
    <td>{{telefon}}</td>
    <td>{{mail}}</td>
  </tr>
  %end

</table>
%else:



  <table class="table table-striped">
    <tr>
      <th>Ime in priimek</th>
      <th>Telefon</th>
      <th>Mail</th>
    </tr>

    %for id_stranka, ime_priimek, telefon, mail in stranke:
    <tr>
      <td>{{ime_priimek}}</td>
      <td>{{telefon}}</td>
      <td>{{mail}}</td>
    </tr>
    %end

  </table>
