% setdefault('napaka', '')
% setdefault('podnaslov', 'Stranke')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

<a class="button" href="/dodaj_stranko">
  Dodaj novo stranko {{uporabnik}}:
</a>

  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Ime in priimek</th>
      <th>Telefon</th>
      <th>Mail</th>
    </tr>

    %for id_stranka, ime_priimek, telefon, mail in stranke:
    <tr>
      <td>{{id_stranka}}</td>
      <td>{{ime_priimek}}</td>
      <td>{{telefon}}</td>
      <td>{{mail}}</td>
    </tr>
    %end

  </table>
