%rebase('poskusna_osnova.html')

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>

      <li>
        <a>
          <span>Storitev</span>
        </a>
      </li>

      <li>
        <a>
          <span>Uslužbenec</span>
        </a>
      </li>

      <li class="is-active">
        <a>
          <span>Datum in ura</span>
        </a>
      </li>

    </ul>
  </div>

<label class="label">Izpolnite polja za rezervacijo termina:</label>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/termin/{{id_storitev}}/{{id_usluzbenec}}">
                <td></td>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_storitve">Ime storitve</label>
                            <input class="input is-small" type="text" 
                                name="ime_storitve" value="{{ime_storitve}}" disabled name="ime_storitve" placeholder="Storitev" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek_usluzbenca">Ime usluzbenca</label>
                            <input class="input is-small" type="text" 
                                name="ime_priimek_usluzbenca" value="{{ime_priimek_usluzbenca}}" disabled name="ime_priimek_usluzbenca" placeholder="Ime uslužbenca" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek_stranke">Ime in priimek</label>
                            <input class="input is-small" type="text" 
                                id="ime_priimek_stranke" name="ime_priimek_stranke" placeholder="Ime in priimek stranke" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="datum">Datum</label>
                            <input class="input is-small" type="date" data-date-format="YYYY-MM-DD"
                                id="datum" name="datum" placeholder="YYYY-MM-DD" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ura">Ura</label>
                            <select class="input is-small" type="time" aria-label="Default select example"
                            id="ura" name="ura" placeholder="hh:mm:ss">
                                <option value="08:00:00">8:00</option>
                                <option value="08:30:00">8:30</option>
                                <option value="09:0:00">9:00</option>
                                <option value="09:30:00">9:30</option>
                                <option value="10:00:00">10:00</option>
                                <option value="10:30:00">10:30</option>
                                <option value="11:00:00">11:00</option>
                                <option value="11:30:00">11:30</option>
                                <option value="12:00:00">12:00</option>
                                <option value="12:30:00">12:30</option>
                                <option value="13:00:00">13:00</option>
                                <option value="13:30:00">13:30</option>
                                <option value="14:00:00">14:00</option>
                                <option value="14:30:00">14:30</option>
                                <option value="15:00:00">15:00</option>
                                <option value="15:30:00">15:30</option>
                                <option value="16:00:00">16:00</option>

                                
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="koda">Koda za popust</label>
                            <input class="input is-small" type="text" 
                                id="koda" name="koda" placeholder="Koda za popust" 
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Dodaj</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        </tr>
    </thead>
</table>

 <progress class="progress is-info" value="60" max="100">60%</progress>

