%rebase('poskusna_osnova.html')

<label class="label">Termin:</label>

<div class="tabs is-toggle is-fullwidth is-large">
  <ul>

    <li class="is-active">
      <a>
        <span>Storitev</span>
      </a>
    </li>

    <li>
      <a>
        <span>Uslužbenec</span>
      </a>
    </li>

    

    <li>
      <a>
        <span>Datum</span>
      </a>
    </li>

    <li>
      <a>
        <span>Ura, ime stranke in koda za popust</span>
      </a>
    </li>
    
  </ul>
</div>

<label class="label">Izberite storitev na katero se želite naročiti.</label>
%for id_storitev, ime_storitve in storitve:    
  <a href="/termin/{{id_storitev}}" class="dropdown-item">
    {{ime_storitve}}
  </a> 
%end

<progress class="progress is-info" value="0" max="100">0%</progress>

