% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)


%if vloga == 'stranka':



<div class="tabs is-centered is-boxed is-medium">
  <ul>

    <li class="is-active">
      <a>
        <span>Storitev</span>
      </a>
    </li>

    <li>
      <a>
        <span>Uslužbenec</span>
      </a>
    </li>

    

    <li>
      <a>
        <span>Datum</span>
      </a>
    </li>

    <li>
      <a>
        <span>Ura, ime stranke in koda za popust</span>
      </a>
    </li>

    <li>
      <a>
        <span>Povzetek rezerviranega termina</span>
      </a>
    </li>
    
  </ul>
</div>

<label class="label">Izberite storitev, na katero se želite naročiti</label>
%for id_storitev, ime_storitve in storitve:    
  <a href="{{url('termina_usluzbenec', id_storitev=id_storitev)}}" class="dropdown-item">
    {{ime_storitve}}
  </a> 
%end

<progress class="progress is-info" value="0" max="100">0%</progress>

%else:
<p>Nimaš pravic.</p>