% setdefault('napaka', '')
% setdefault('podnaslov', 'Termin')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>

      <li>
        <a>
          <span>Storitev</span>
        </a>
      </li>

      <li>
        <a>
          <span>Uslužbenec</span>
        </a>
      </li>

      <li>
        <a>
          <span>Datum</span>
        </a>
      </li>

      <li class="is-active">
        <a>
          <span>Ura, ime stranke in koda za popust</span>
        </a>
      </li>

      <li>
        <a>
          <span>Povzetek rezerviranega termina</span>
        </a>
      </li>

    </ul>
  </div>


  <label class="label">Izpolnite polja za rezervacijo termina:</label>
  <table class="table is-hoverable is-fullwidth">
      <thead>
          <tr>
            <form action="{{url('vpis_termina_post', id_usluzbenec=id_usluzbenec, id_storitev=id_storitev, year=year, month=month, day=day)}}" method="POST">
              
                  <td></td>
                  
                  <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ura">Ura</label>
                            <select class="input is-small" type="time" aria-label="Default select example"
                            id="ura" name="ura" placeholder="hh:mm:ss">
                                % for zacetek, konec in ura:
                                <option value={{zacetek}}>{{zacetek}}</option>
                                %end 
                
                                
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek_stranke">Ime in priimek</label>
                            <input class="input is-small" type="text" 
                                id="ime_priimek_stranke" name="ime_priimek_stranke" placeholder="Ime in priimek stranke" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="koda">Koda za popust</label>
                            <input class="input is-small" type="text" 
                                id="koda" name="koda" placeholder="Koda za popust" 
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Dodaj</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </form>
                </tr>
  
        </thead>
    </table>
        
    <progress class="progress is-info" value="60" max="100">60%</progress>




   

