% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>

      <li>
        <a>
          <span>Storitev</span>
        </a>
      </li>

      <li class="is-active">
        <a>
          <span>Uslužbenec</span>
        </a>
      </li>


      <li>
        <a>
          <span>Datum</span>
        </a>
      </li>

      <li>
        <a>
          <span>Ura, ime stranke in koda za popust</span>
        </a>
      </li>

      <li>
        <a>
          <span>Povzetek rezerviranega termina</span>
        </a>
      </li>

    </ul>
  </div>
  
  <label class="label">Izberite uslužbenca, za katerega želite, da opravi izbrano storitev</label>
  %for id_usluzbenec, ime_priimek in usluzbenci_storitve:    
    <a href="/termin/{{id_storitev}}/{{id_usluzbenec}}" class="dropdown-item">
      {{ime_priimek}}
    </a> 
  %end

  <progress class="progress is-info" value="30" max="100">30%</progress>
