%rebase('poskusna_osnova.html')

% if rola == 'user':


<div class="tabs is-toggle is-fullwidth is-large">
    <ul>

      <li>
        <a>
          <span>Storitev</span>
        </a>
      </li>

      <li class="is-active">
        <a>
          <span>Uslužbenec</span>
        </a>
      </li>

      <li>
        <a>
          <span>Datum in ura</span>
        </a>
      </li>

    </ul>
  </div>
  
  <label class="label">Izberite islužbenca, ki želite da opravi izbrano storitev</label>
  %for id_usluzbenec, ime_priimek in usluzbenci_storitve:    
    <a href="/termin/{{id_storitev}}/{{id_usluzbenec}}" class="dropdown-item">
      {{ime_priimek}}
    </a> 
  %end

  <progress class="progress is-info" value="30" max="100">30%</progress>

%else:
<p> Nimaš dovoljenja za ogled te strani!</p>

%end