% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>

      <li>
        <a>
          <span>Storitev</span>
        </a>
      </li>

      <li>
        <a>
          <span>Uslužbenec</span>
        </a>
      </li>

      <li>
        <a>
          <span>Datum</span>
        </a>
      </li>

      <li>
        <a>
          <span>Ura, ime stranke in koda za popust</span>
        </a>
      </li>

      <li class="is-active">
        <a>
          <span>Povzetek rezerviranega termina</span>
        </a>
      </li>

    </ul>
</div>

%for id_termin, id_stranka, ime_priimek, datum, ime_storitve, ime_priimek_usluzbenca, trajanje, cena, popust, koncna_cena in termin:
<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Podrobnosti vaše rezervacije:
      </p>
    </header>
    <div class="card-content">
      <div class="content">
            <p><strong>Rezervacija na ime:</strong> {{ime_priimek}}</p>
            <p><strong>Datum in ura:</strong> <br>
                <time datetime="2016-1-1">{{datum}}</time> 
            </p>
            <p><strong>Storitev:</strong> {{ime_storitve}} </p>
            <p><strong>Uslužbenec:</strong> {{ime_priimek_usluzbenca}} </p>
            <p style="font-size:160%; color:blue;"><strong>Cena:</strong> {{koncna_cena}}€</p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="/zacetek" class="card-footer-item">Začetna stran</a>
      <a href="/termin" class="card-footer-item">Nov termin</a>
      <a href="/pregled_termina/{{id_stranka}}" class="card-footer-item">Odpoved termina</a>
    </footer>
  </div>
%end



<progress class="progress is-info" value="100" max="100">100%</progress>

