%rebase('poskusna_osnova.html')

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>

      <li>
        <a>
          <span>Storitev</span>
        </a>
      </li>

      <li>
        <a>
          <span>Uslužbenec</span>
        </a>
      </li>



      <li class="is-active">
        <a>
          <span>Datum</span>
        </a>
      </li>

      <li>
        <a>
          <span>Ura, ime stranke in koda za popust</span>
        </a>
      </li>

    </ul>
  </div>

<label class="label">Izpolnite polja za rezervacijo termina:</label>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form action="{{url('termin_date_conversion', id_usluzbenec=id_usluzbenec, id_storitev=id_storitev, datum=datum)}}" method="GET">
                <td></td>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_storitve">Ime storitve</label>
                            <input class="input is-small" type="text" 
                                name="ime_storitve" value="{{ime_storitve}}" disabled name="ime_storitve" placeholder="Storitev" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek_usluzbenca">Ime usluzbenca</label>
                            <input class="input is-small" type="text" 
                                name="ime_priimek_usluzbenca" value="{{ime_priimek_usluzbenca}}" disabled name="ime_priimek_usluzbenca" placeholder="Ime uslužbenca" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>

  
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="datum">Datum</label>
                            <input  
                            class="input is-small" type="date" data-date-format="YYYY-MM-DD"
                                id="datum" name="datum" placeholder="YYYY-MM-DD" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                                
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Naprej</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </form>
                </tr>

                
                
    </thead>
</table>

 <progress class="progress is-info" value="60" max="100">60%</progress>

