% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)


%if ali_je_sef == 2:

<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li class="is-active">
      <a><span>Zaposleni</span></a>
    </li>
    
  </ul>
</div>


<label class="label">Izberite zaposlenega, katerega urnik si želite ogledati</label>
  %for id_usluzbenec, ime_priimek in usluzbenci:    
    <a href="/urnik/{{id_usluzbenec}}" class="dropdown-item">
      {{ime_priimek}}
    </a> 
  %end

% else:
<p>Nimaš pravic.</p>