% setdefault('napaka', '')
% setdefault('podnaslov', 'Urnik')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)


%if vloga == 'usluzbenec':
<div class="tabs is-toggle is-fullwidth is-large">

        <li class="is-active">
            <a>
              <span>Zaposleni</span>
            </a>
          </li>
        </ul>
</div>

<label class="label">Izberite zaposlenega.</label>
  %for id_usluzbenec, ime_priimek in usluzbenci:    
    <a href="/urnik/{{id_usluzbenec}}" class="dropdown-item">
      {{ime_priimek}}
    </a> 
  %end

% else:
<p>Nimaš pravic.</p>