%rebase('poskusna_osnova.html')

<nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">URNIK</p>
            <div class="dropdown is-active">

                <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Usluzbenci</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </div>

                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    %for id_usluzbenec, ime_priimek in usluzbenci:
                        <a href="/urnik/{{id_usluzbenec}}" class="dropdown-item">
                            {{ime_priimek}}
                        </a>
                    %end
                </div>
            </div>

        </div>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Od</th>
                    <th>Do</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>PON</th>
                    <th>8:00</th>
                    <th>16:00</th>
                </tr>
                <tr>
                    <th>TOR</th>
                    <th>8:00</th>
                    <th>16:00</th>
                </tr>
                <tr>
                    <th>SRE</th>
                    <th>8:00</th>
                    <th>16:00</th>
                </tr>
                <tr>
                    <th>ČET</th>
                    <th>8:00</th>
                    <th>16:00</th>
                </tr>
                <tr>
                    <th>PET</th>
                    <th>8:00</th>
                    <th>16:00</th>
                </tr>
            </tbody>
      </div>
    </div>

  </nav>