%rebase('poskusna_osnova.html')

    <a class="button" href="/dodaj_usluzbenca">
        Dodaj novega usluzbenca
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id usluzbenca</th>
                <th>Ime in priimek</th>
             </tr>
        </thead>
     
      %for id_usluzbenec, ime_priimek in usluzbenci:
        <tr>
           <td>{{id_usluzbenec}}</td>
           <td>{{ime_priimek}}</td>  
        </tr>
      %end

    </table>

  