% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)



<label class="label">Vpišite vaše podatke:</label>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form action="{{url('dodaj_stranko_post')}}" method="POST">
                <td></td>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="ime_priimek">Ime in priimek</label>
                            <input class="input is-small" type="text" 
                                id="ime_priimek" name="ime_priimek" placeholder="Ime in priimek" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="telefon">Telefonska številka</label>
                            <input class="input is-small" type="text" 
                                id="telefon" name="telefon" placeholder="Telefonska številka" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <label for="mail">Elektronski naslov</label>
                            <input class="input is-small" type="text" 
                                id="mail" name="mail" placeholder="Elektronski naslov" required
                                oninput="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Obvezno polje')"
                            />
                            <span class="icon is-small is-left">
                                <i class="far fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Dodaj v bazo</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/prijava">Prekliči</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        </tr>
    </thead>
</table>