% setdefault('napaka', '')
% setdefault('podnaslov', '')
%rebase('osnova.html', napaka=napaka, podnaslov=podnaslov)
<!-- Main container -->


%if ali_je_sef == 2:
<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <div class="column is-narrow">
    <aside class="menu">

      <p class="menu-label">Splošno</p>
        <ul class="menu-list">
          <li><a href="/cenik" class="is-active">Cenik storitev</a></li>
          <li><a href="/pregled_terminov">Pregled rezerviranih terminov</a></li>
          <li><a href="/poslovanje">Poslovanje in dobiček</a></li>
        </ul>

      <p class="menu-label">O strankah</p>
        <ul class="menu-list">
          <li><a href="/stranke">Podatki strank in dodajanje novih</a></li>
        </ul>

      <p class="menu-label">O zaposlenih</p>
        <ul class="menu-list">
          <li><a href="/usluzbenci">Pregled in urejanje zaposlenih</a></li>
          <li><a href="/urnik">Urnik zaposlenih</a></li>
        </ul>

    </aside>
  </div>



  <div class="column is-narrow">
        <div class="card-body">
          <div>
            <p class="card-title"><strong>CENIK STORITEV</strong></p>
          </div>

          <p class="card-text">
            <table class="table table-striped">
              <tr>
                <th>Storitev</th>
                <th>Cena</th>
                <th>Uslužbenci, ki opravljajo to storitev</th>
              </tr>

              %for id_storitev, ime_storitve, cena in storitve:
              <tr>
                <td>{{ime_storitve}}</td>
                <td>{{cena}}€</td>
                <td>
                  <a class="button" href="/storitev_usluzbenci_get/{{id_storitev}}">Poglej</a>
                </td>
              </tr>
              %end

            </table>
          </p>
        </div>
    </div>
  </div>


  %elif ali_je_sef == 1:
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column is-narrow">
      <aside class="menu">
        <p class="menu-label">Splošno</p>
          <ul class="menu-list">
            <li><a href="/cenik" class="is-active">Cenik storitev</a></li>
            <li><a href="/urnik">Urnik</a></li>
          </ul>

        <p class="menu-label">O strankah</p>
          <ul class="menu-list">
            <li><a href="/stranke">Podatki strank in dodajanje novih</a></li>
            <li><a href="/pregled_terminov">Pregled rezerviranih terminov</a></li>
          </ul>

        <p class="menu-label">O zaposlenih</p>
          <ul class="menu-list">
            <li><a href="/usluzbenci">Pregled sodelavcev</a></li>
          </ul>

      </aside>
    </div>
  
    <div class="column is-narrow">
          <div class="card-body">
            <div>
              <p class="card-title"><strong>CENIK STORITEV</strong></p>
            </div>

            <p class="card-text">
              <table class="table table-striped">
                <tr>
                  <th>Storitev</th>
                  <th>Cena</th>
                  <th>Uslužbenci, ki opravljajo to storitev</th>
                </tr>

                %for id_storitev, ime_storitve, cena in storitve:
                <tr>
                  <td>{{ime_storitve}}</td>
                  <td>{{cena}}€</td>
                  <td>
                    <a class="button" href="/storitev_usluzbenci_get/{{id_storitev}}">Poglej</a>
                  </td>
                </tr>
                %end

              </table>
            </p>
          </div>
      </div>
    </div>


% else:
<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <div class="column is-narrow">
    <aside class="menu">
      <p class="menu-label">Splošno</p>
        <ul class="menu-list">
          <li><a href="/stranke">Vaši podatki</a></li>
          <li><a href="/zacetek" class="is-active">Cenik storitev</a></li>
        </ul>

      <p class="menu-label">Termin</p>
        <ul class="menu-list">
          <li><a href="/termin">Nov termin</a></li>
          <li><a href="/pregled_terminov">Pregled in odpoved termina</a></li>
        </ul>

      <p class="menu-label">O zaposlenih</p>
        <ul class="menu-list">
          <li><a href="/usluzbenci">Pregled in ocenjevanje zaposlenih</a></li>
        </ul>

    </aside>
  </div>

  <div class="column">
        <div class="card-body">
          <div>
            <p class="card-title"><strong>CENIK STORITEV</strong></p>
          </div>

          <p class="card-text">
            <table class="table table-striped">
              <tr>
                <th>Storitev</th>
                <th>Cena</th>
                <th>Uslužbenci, ki opravljajo to storitev</th>
              </tr>

              %for id_storitev, ime_storitve, cena in storitve:
              <tr>
                <td>{{ime_storitve}}</td>
                <td>{{cena}}€</td>
                <td>
                  <a class="button" href="/storitev_usluzbenci_get/{{id_storitev}}">Poglej</a>
                </td>
              </tr>
              %end
              
            </table>
          </p>
        </div>
    </div>
  </div>