% rebase('poskusna_osnova.html')
<!-- Main container -->

<button class="button is-link is-large" href="/termin">NOV TERMIN</button>

<nav class="level">
<div class="columns">
  <div class="column">
    <div class="level-item has-text-centered">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <div>
            <p class="card-title"><strong>CENIK STORITEV</strong></p>
          </div>
          <p class="card-text">
            <table class="table table-striped">
              <tr>
                <th>Id</th>
                <th>Storitev</th>
                <th>Cena</th>
                <th>Uslužbenci, ki opravljajo to storitev</th>
              </tr>
              %for id_storitev, ime_storitve, cena in storitve:
              <tr>
                <td>{{id_storitev}}</td>
                <td>{{ime_storitve}}</td>
                <td>{{cena}}€</td>
                <td>
                  <a class="button" href="/storitev_usluzbenci_get/{{id_storitev}}">Poglej</a>
                </td>
              </tr>
              %end
            </table>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>STRANKE</strong></h5>
        </div>
        <p class="card-text">Skupaj nas je že več kot 200.</p>
        <div class="level-item has-text-centered">
          <a class="button is-link is-light" href="/stranke">
            <strong>Tabela strank</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>USLUŽBENCI</strong></h5>
        </div>
        <p class="card-text">Oglejte si kaj ponujajo naši uslužbenci in kako so jih ocenile naše stranke.</p>
        <div class="level-item has-text-centered"> 
          <a class="button is-link is-light" href="/usluzbenci">
            <strong>Tabela uslužbencev</strong>
          </a>
        </div>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>MNENJA NAŠIH STRANK</strong></h5>
        </div>
        <p class="card-text">V našem kozmetičnem salonu mnenja strank veliko štejejo, zato vas vabimo, da oddate svojo oceno tudi vi.</p>
        <div class="level-item has-text-centered">
          <a class="button is-link is-light" href="/dodaj_oceno">
            <strong>Oceni uslužbenca</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>ZA USLUŽBENCE: dodajanje storitev</strong></h5>
        </div>
        <p class="card-text">Na tej povezavi lahko uslužbenec doda storitev, za katero se je na novo usposobil!</p>
        <div class="level-item has-text-centered">
          <a class="button is-link is-light" href="/dodaj_storitev">
            <strong>Dodaj storitev</strong>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
</nav>