% rebase('poskusna_osnova.html')
<!-- Main container -->



<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <aside class="menu">
      <p class="menu-label">
        Splošno
      </p>
      <ul class="menu-list">
        <li><a href="/" class="is-active">Cenik</a></li>
        <li><a href="/usluzbenci">Usluzbenci</a></li>
      </ul>
      <p class="menu-label">
        Za stranke
      </p>
      <ul class="menu-list">
        <li><a href="/termin">Nov termin</a></li>
        <li><a href="/usluzbenci">Oceni usluzbenca</a></li>
      </ul>
      <p class="menu-label">
        Za usluzbence
      </p>
      <ul class="menu-list">
        <li><a href="/urnik">Urnik</a></li>
        <li><a href="/stranke">Stranke in njihovi podatki</a></li>
        <li><a href="/poslovanje">Poslovanje in dobiček</a></li>
      </ul>
    </aside>
  </div>

  <!-- Right side -->
  <div class="level-right">
        <div class="card-body">
          <div>
            <p class="card-title"><strong>CENIK STORITEV</strong></p>
          </div>
          <p class="card-text">
            <table class="table table-striped">
              <tr>
                <th>Id</th>
                <th>Storitev</th>
                <th>Cena</th>
                <th>Uslužbenci, ki opravljajo to storitev</th>
              </tr>
              %for id_storitev, ime_storitve, cena in storitve:
              <tr>
                <td>{{id_storitev}}</td>
                <td>{{ime_storitve}}</td>
                <td>{{cena}}€</td>
                <td>
                  <a class="button" href="/storitev_usluzbenci_get/{{id_storitev}}">Poglej</a>
                </td>
              </tr>
              %end
            </table>
          </p>
        </div>
    </div>
  </nav>

<a class="button is-link is-large" href="/termin">NOV TERMIN</a>

  <div class="column">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>STRANKE</strong></h5>
        </div>
        <p class="card-text">Skupaj nas je že več kot 200.</p>
        <div class="level-item has-text-centered">
          <a class="button is-link is-light" href="/stranke">
            <strong>Tabela strank</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>USLUŽBENCI</strong></h5>
        </div>
        <p class="card-text">Oglejte si kaj ponujajo naši uslužbenci in kako so jih ocenile naše stranke.</p>
        <div class="level-item has-text-centered"> 
          <a class="button is-link is-light" href="/usluzbenci">
            <strong>Tabela uslužbencev</strong>
          </a>
        </div>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>ZA USLUŽBENCE: dodajanje storitev</strong></h5>
        </div>
        <p class="card-text">Na tej povezavi lahko uslužbenec doda storitev, za katero se je na novo usposobil!</p>
        <div class="level-item has-text-centered">
          <a class="button is-link is-light" href="/dodaj_storitev">
            <strong>Dodaj storitev</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <div class="level-item has-text-centered">
          <h5 class="card-title"><strong>ZA USLUŽBENCE: urnik</strong></h5>
        </div>
        <p class="card-text">Tukaj je urnik za prihodnje dni.</p>
        <div class="level-item has-text-centered">
          <a class="button is-link is-light" href="/urnik">
            <strong>Poglej urnik</strong>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
</nav>